@page "{id:Guid}"
@model AtosLibrary.WebHost.Pages.ReserveBookModel
@{
    ViewData["Title"] = "ReserveBook";
}
@{ var reader = Model.ReaderModel;}
<h1>ReserveBook</h1>

<p>Welcome: @reader.Name @reader.Surname  </p>

<form method="post">
    <div class="input-group mb-3">
        <input asp-for="SearchText" class="form-control" placeholder="Book's title" aria-label="Book's title" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" asp-page-handler="search" type="submit">Search</button>
        </div>
    </div>
</form>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 70%">Title</th>
                <th style="width: 10%">Number</th>
                <th style="width: 20%">Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model.Books)
            {
                <tr>
                    <td> @contact.BookName </td>
                    <td> @contact.NumberOfAvailableBooks </td>
                    <td>
                        <button class="btn btn-success" asp-page-handler="reserve" type="submit" asp-route-bookItemModelId="@contact.BookItemId" asp-route-readerModelId="@reader.Id">
                            Reserve Book
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>